html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.section {
    height: 100vh;
    /* Esto hace que cada sección ocupe toda la pantalla */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}